<div class="panel panel-default" *ngIf="postData">
  <div class="panel-body">
    <div class="col-md-3">
      <p>Score :</p>
      <p>
        {{postData.overallScore | dividevalue}}
      </p>
    </div>
    <div class="col-md-9">
      <p>
        User experience :
      </p>
      <p>
        {{postData.userExperience}}
      </p>
    </div>
  </div>
</div>
