<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Comeat - small test</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li ><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/form']">Form</a></li>
    </ul>
  </div>
</nav>
