:host{
  position: absolute;
  width: 100%;
}

.container{
  margin-top: 80px;
}

.avatar-wrapper{
  margin-left: 20px;
  img{
    height: 100px;
    width: 100px;
  }
  span{
    margin-left: 20px;
  }
}



.overall{
  margin-top: 20px;
  text-align: center;
  #score{
    font-size: 35px;
  }
}

button{
  float:right;
  margin-top: 20px;
}

.sliders{
  margin-top: 20px;
  .slider-container{
    .form-control{
      position: relative;
      top: -11px;
      margin-bottom: -11px;
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }
  }
}






