<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Please provide your feedback</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="avatar-wrapper">
                <img src="assets/png/user-small-icon.png" class="img-circle" alt="Avatar">
                <span>Mayank</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="sliders">
                <p>How did Mayank do as a host :</p>


                <div *ngFor="let slider of sliders" class="slider-container">
                  <div class="col-md-12">
                    <p>
                      {{slider.name}} :
                    </p>
                  </div>
                  <div class="col-xs-9">
                    <input type="range" min="0" max="100" value="50" (ngModelChange)="updateOverall()" [(ngModel)]="slider.value" class="slider">
                  </div>
                  <div class="col-xs-3">
                    <input type="text" disabled class="form-control" [ngModel]="slider.value | dividevalue" id="usr">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="overall">
                <p>Your overall rating</p>
                <p id="score">{{overall | dividevalue}}</p>
              </div>
              <div class="textWrapper">
                <p>Describe your experience :</p>
                <textarea class="form-control" [(ngModel)]="userExperience" rows="5"></textarea>
              </div>
              <button type="button" class="btn btn-success" (click)="submitClick()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
