<div class="container" *ngIf="user && sliders">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">My Feedback</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="left-wrapper">
              <div class="col-md-6">
                <div class="avatar-wrapper">
                  <img src="assets/png/user-small-icon.png" class="img-circle" alt="Avatar">
                  <span>Mayank</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="overall">
                  <p>Mayank overall :</p>
                  <p id="score">{{user.overallScore | dividevalue}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sliders" *ngIf="sliders">
              <div *ngFor="let slider of sliders" class="slider-container">
                <div class="col-md-12">
                  <p>
                    {{slider.name}} :
                  </p>
                </div>
                <div class="col-xs-9">
                  <input type="range" disabled min="0" max="100" value="50" [(ngModel)]="slider.value" class="slider">
                </div>
                <div class="col-xs-3">
                  <input type="text" disabled class="form-control" [ngModel]="slider.value | dividevalue" id="usr">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 40px">
          <ng-container *ngIf="user.feedback.length !== 0; else noPosts">
            <div *ngFor="let post of user.feedback" class="col-md-12">
              <app-home-post [postData]="post"></app-home-post>
            </div>
          </ng-container>
          <ng-template #noPosts>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h2 style="text-align: center">
                    There are no comments !
                  </h2>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
